body {
    color:rgb(255, 255, 255);
    background:rgb(1, 1, 1);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 26px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
   background:#000f24;
   padding-top
   display: flex;
   justify-content:center;


